body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #FDFBF6; /* Light beige background */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.confirmation-container {
  background-color: #FFFFFF; /* White background */
  padding: 4vw;
  border-radius: 1.5vw;
  max-width: 700px;
  width: 90%;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
}

.confirmation-container h1 {
  font-size: 1.5vw;
  margin-bottom: 1.2vw;
}

.confirmation-container p {
  font-size: 1.5vw;
  margin-bottom: 1.2vw;
  color: #333;
}

.highlight {
  font-weight: bold;
  color: #0077cc;
}

.return-link a {
  font-size: 1.6vw;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.return-link a:hover {
  color: #2980b9;
  text-decoration: underline;
}

.return-button-container {
  margin-top: 2.5vw;
}

.return-button-container button {
  font-weight: bold;
  background-color: #0077cc; /* Blue background */
  color: #fff; /* White text */
  padding: 1.2vw 2.5vw;
  font-size: 1.4vw;
  cursor: pointer;
  border: none;
  border-radius: 0.8vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.return-button-container button:hover {
  background-color: #005fa3; /* Darker blue on hover */
  transform: scale(1.03);
}